<template>
	<div>
		<h1 class="text-white text-2xl text-center">สิ่งที่ต้องทำ (Vuejs)</h1>
		<div class="bg-white max-w-lg mx-auto bg-opacity-50 rounded my-4 p-4">
            <div class="md:flex">
                <input v-if="todoUpdate === null" @keyup.enter="addNew" @keydown="error = ''" v-model="todo" type="text" class="rounded bg-blue-50 w-full md:mx-1 md:w-2/3 p-2 outline-none" />
                <input v-if="todoUpdate !== null" @keyup.enter="update" @keydown="error = ''" v-model="todoUpdate.title" type="text" class="rounded bg-green-50 w-full md:mx-1 md:w-2/3 p-2 outline-none" />
                <div class="my-2 md:my-0 flex w-full md:w-1/3 justify-end">
                    <button v-if="todoUpdate === null" @click="addNew" class="py-2 px-4 w-20 rounded mx-1 bg-green-50 text-green-400 hover:bg-green-100 h-full">เพิ่ม</button>
                    <button v-if="todoUpdate !== null" @click="update" class="py-2 px-4 w-20 rounded mx-1 bg-blue-50 text-blue-400 hover:bg-blue-100 h-full">แก้ไข</button>
                    <button @click="cancel" class="py-2 px-4 w-20 rounded mx-1 bg-red-50 text-red-400 hover:bg-red-100 h-full">ยกเลิก</button>
                </div>
            </div>
            <p v-if="error !== ''" class="text-xs text-red-700 p-2">{{error}}</p>
		</div>
        <div v-if="todos.length > 0" class="bg-white h-96 max-h-96 overflow-y-auto max-w-lg mx-auto bg-opacity-50 rounded my-4 p-4">
            <div v-for="(todo, index) in todos" :key="todo.id" class="bg-green-50 rounded p-2 my-4 md:flex md:items-center">
                <div class="md:w-2/3 w-full">
                    <p class="py-2 px-2 break-words">{{index + 1}}. {{todo.title}}</p>
                </div>
                <div class="md:w-1/3 w-full flex justify-end">
                    <button @click="todoUpdate = todo" class="py-2 px-4 w-20 rounded mx-1 bg-blue-50 text-blue-400 hover:bg-blue-100 h-full">แก้ไข</button>
                    <button @click="remove(todo.id)" class="py-2 px-4 w-20 rounded mx-1 bg-red-50 text-red-400 hover:bg-red-100 h-full">ลบ</button>
                </div>
            </div>
        </div>
	</div>
</template>

<script>
export default {
	name: "List",
	data() {
		return {
            todo: '',
			todos: [],
            error: '',
            todoUpdate: null
		};
	},
    methods: {
        addNew() {
            if(this.todo !== ''){
                this.todos.push({
                    id: Math.random(),
                    title: this.todo,
                    status: 'new'
                })
                this.todo = '';
            }else{
                this.error = 'กรุณาเพิ่มชื่อเรื่อง'
            }
        },
        cancel(){
            this.error = '';
            this.todo = '';
        },
        remove(id){
            const index = this.todos.findIndex(todo => todo.id === id);
            this.todos.splice(index, 1);
        },
        update(){
            const index = this.todos.findIndex(todo => todo.id === this.todoUpdate.id);
            this.todos[index] = this.todoUpdate;
            this.todoUpdate = null;
        }
    },
};
</script>