<template>
	<div class="custom-background container-fluid h-screen mx-auto p-8">
		<List />
	</div>
</template>

<script>
import List from "./components/List.vue";

export default {
	name: "App",
	components: {
		List,
	},
};
</script>

<style scoped>
.custom-background {
	background: #c33764; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#1d2671,
		#c33764
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#1d2671,
		#c33764
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>

