@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kanit:ital,wght@0,300;1,100;1,200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Kanit:wght@200;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Kanit', sans-serif !important;
}